<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,57},{32,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{32,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hide_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hp_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{80,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,11}}</string>
                <key>sourceSize</key>
                <string>{80,11}</string>
            </dict>
            <key>hp_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{78,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,9}}</string>
                <key>sourceSize</key>
                <string>{80,11}</string>
            </dict>
            <key>move_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{45,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,53}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>run_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,54},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sleep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,76}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hud.png</string>
            <key>size</key>
            <string>{173,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:070427647a6e7390f4fa2ca7b51fd315:2de20a1c5304cad09e1a56ea9c3992ba:f2a61c07da5915a36e0a2ce159a09224$</string>
            <key>textureFileName</key>
            <string>hud.png</string>
        </dict>
    </dict>
</plist>
