<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,57},{32,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{32,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>cc_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,92},{78,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,9}}</string>
                <key>sourceSize</key>
                <string>{80,11}</string>
            </dict>
            <key>hide_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hp_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{80,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,11}}</string>
                <key>sourceSize</key>
                <string>{80,11}</string>
            </dict>
            <key>hp_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,80},{78,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,9}}</string>
                <key>sourceSize</key>
                <string>{80,11}</string>
            </dict>
            <key>move_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{45,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,53}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>run_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,54},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sleep.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{70,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,76}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,88}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hud.png</string>
            <key>size</key>
            <string>{325,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fba0d5446d23d1adbad07093aa4ac293:1f01314801110e13f74a0a4fd55d2b55:f2a61c07da5915a36e0a2ce159a09224$</string>
            <key>textureFileName</key>
            <string>hud.png</string>
        </dict>
    </dict>
</plist>
