<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>aki60_151.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{109,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,63}}</string>
                <key>sourceSize</key>
                <string>{109,63}</string>
            </dict>
            <key>aki60_152.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{117,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,107}}</string>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>aki60_153.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{123,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,117}}</string>
                <key>sourceSize</key>
                <string>{123,117}</string>
            </dict>
            <key>aki60_154.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,2},{127,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,139}}</string>
                <key>sourceSize</key>
                <string>{127,139}</string>
            </dict>
            <key>aki60_155.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>aki60_156.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{117,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,130}}</string>
                <key>sourceSize</key>
                <string>{117,130}</string>
            </dict>
            <key>aki60_157.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{120,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,133}}</string>
                <key>sourceSize</key>
                <string>{120,133}</string>
            </dict>
            <key>aki60_158.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,114}</string>
            </dict>
            <key>aki60_159.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,143},{118,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,129}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>aki60_160.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,143},{116,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,131}}</string>
                <key>sourceSize</key>
                <string>{116,131}</string>
            </dict>
            <key>aki60_161.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,143},{116,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,107}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>aki60_162.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,143},{117,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,100}}</string>
                <key>sourceSize</key>
                <string>{117,100}</string>
            </dict>
            <key>aki60_163.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,143},{120,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,105}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>aki60_164.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,143},{121,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,103}}</string>
                <key>sourceSize</key>
                <string>{121,103}</string>
            </dict>
            <key>aki60_165.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,143},{119,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,92}}</string>
                <key>sourceSize</key>
                <string>{119,92}</string>
            </dict>
            <key>aki60_166.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{118,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,97}}</string>
                <key>sourceSize</key>
                <string>{118,97}</string>
            </dict>
            <key>aki60_167.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,276},{104,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,60}}</string>
                <key>sourceSize</key>
                <string>{104,60}</string>
            </dict>
            <key>aki60_168.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,276},{62,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,14}}</string>
                <key>sourceSize</key>
                <string>{62,14}</string>
            </dict>
            <key>aki60_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,276},{38,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,77}}</string>
                <key>sourceSize</key>
                <string>{38,77}</string>
            </dict>
            <key>aki60_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,276},{39,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,104}}</string>
                <key>sourceSize</key>
                <string>{39,104}</string>
            </dict>
            <key>aki60_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,276},{47,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,131}}</string>
                <key>sourceSize</key>
                <string>{47,131}</string>
            </dict>
            <key>aki60_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,276},{53,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,162}}</string>
                <key>sourceSize</key>
                <string>{53,162}</string>
            </dict>
            <key>aki60_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,276},{54,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,167}}</string>
                <key>sourceSize</key>
                <string>{54,167}</string>
            </dict>
            <key>aki60_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,276},{57,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,172}}</string>
                <key>sourceSize</key>
                <string>{57,172}</string>
            </dict>
            <key>aki60_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,276},{60,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,177}}</string>
                <key>sourceSize</key>
                <string>{60,177}</string>
            </dict>
            <key>aki60_207.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,276},{61,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,180}}</string>
                <key>sourceSize</key>
                <string>{61,180}</string>
            </dict>
            <key>aki60_208.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,276},{61,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,178}}</string>
                <key>sourceSize</key>
                <string>{61,178}</string>
            </dict>
            <key>aki60_209.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,276},{62,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,166}}</string>
                <key>sourceSize</key>
                <string>{62,166}</string>
            </dict>
            <key>aki60_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,276},{65,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,174}}</string>
                <key>sourceSize</key>
                <string>{65,174}</string>
            </dict>
            <key>aki60_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,276},{63,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,174}}</string>
                <key>sourceSize</key>
                <string>{63,174}</string>
            </dict>
            <key>aki60_212.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{63,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,174}}</string>
                <key>sourceSize</key>
                <string>{63,174}</string>
            </dict>
            <key>aki60_213.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,458},{63,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,174}}</string>
                <key>sourceSize</key>
                <string>{63,174}</string>
            </dict>
            <key>aki60_214.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,458},{66,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,172}}</string>
                <key>sourceSize</key>
                <string>{66,172}</string>
            </dict>
            <key>aki60_215.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,458},{68,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,173}}</string>
                <key>sourceSize</key>
                <string>{68,173}</string>
            </dict>
            <key>aki60_216.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,458},{65,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,172}}</string>
                <key>sourceSize</key>
                <string>{65,172}</string>
            </dict>
            <key>aki60_217.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,458},{65,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,173}}</string>
                <key>sourceSize</key>
                <string>{65,173}</string>
            </dict>
            <key>aki60_218.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,458},{63,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,172}}</string>
                <key>sourceSize</key>
                <string>{63,172}</string>
            </dict>
            <key>aki60_219.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,458},{64,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,173}}</string>
                <key>sourceSize</key>
                <string>{64,173}</string>
            </dict>
            <key>aki60_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,458},{63,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,174}}</string>
                <key>sourceSize</key>
                <string>{63,174}</string>
            </dict>
            <key>aki60_221.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,458},{66,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,173}}</string>
                <key>sourceSize</key>
                <string>{66,173}</string>
            </dict>
            <key>aki60_222.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,458},{64,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,170}}</string>
                <key>sourceSize</key>
                <string>{64,170}</string>
            </dict>
            <key>aki60_223.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,458},{63,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,171}}</string>
                <key>sourceSize</key>
                <string>{63,171}</string>
            </dict>
            <key>aki60_224.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,458},{62,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,171}}</string>
                <key>sourceSize</key>
                <string>{62,171}</string>
            </dict>
            <key>aki60_225.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,458},{62,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,171}}</string>
                <key>sourceSize</key>
                <string>{62,171}</string>
            </dict>
            <key>aki60_226.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,458},{65,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,173}}</string>
                <key>sourceSize</key>
                <string>{65,173}</string>
            </dict>
            <key>aki60_227.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{67,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,171}}</string>
                <key>sourceSize</key>
                <string>{67,171}</string>
            </dict>
            <key>aki60_228.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,634},{65,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,171}}</string>
                <key>sourceSize</key>
                <string>{65,171}</string>
            </dict>
            <key>aki60_229.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,634},{67,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,171}}</string>
                <key>sourceSize</key>
                <string>{67,171}</string>
            </dict>
            <key>aki60_230.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,634},{63,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,171}}</string>
                <key>sourceSize</key>
                <string>{63,171}</string>
            </dict>
            <key>aki60_231.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,634},{63,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,169}}</string>
                <key>sourceSize</key>
                <string>{63,169}</string>
            </dict>
            <key>aki60_232.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,634},{66,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,171}}</string>
                <key>sourceSize</key>
                <string>{66,171}</string>
            </dict>
            <key>aki60_233.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,634},{64,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,171}}</string>
                <key>sourceSize</key>
                <string>{64,171}</string>
            </dict>
            <key>aki60_234.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,634},{64,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,173}}</string>
                <key>sourceSize</key>
                <string>{64,173}</string>
            </dict>
            <key>aki60_235.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,634},{63,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,173}}</string>
                <key>sourceSize</key>
                <string>{63,173}</string>
            </dict>
            <key>aki60_236.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,634},{63,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,172}}</string>
                <key>sourceSize</key>
                <string>{63,172}</string>
            </dict>
            <key>aki60_237.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,634},{66,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,171}}</string>
                <key>sourceSize</key>
                <string>{66,171}</string>
            </dict>
            <key>aki60_238.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,634},{66,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,172}}</string>
                <key>sourceSize</key>
                <string>{66,172}</string>
            </dict>
            <key>aki60_239.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,634},{59,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,172}}</string>
                <key>sourceSize</key>
                <string>{59,172}</string>
            </dict>
            <key>aki60_240.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,634},{33,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,169}}</string>
                <key>sourceSize</key>
                <string>{33,169}</string>
            </dict>
            <key>aki60_241.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,634},{30,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,145}}</string>
                <key>sourceSize</key>
                <string>{30,145}</string>
            </dict>
            <key>aki60_242.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,634},{28,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,130}}</string>
                <key>sourceSize</key>
                <string>{28,130}</string>
            </dict>
            <key>aki60_243.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,634},{24,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,111}}</string>
                <key>sourceSize</key>
                <string>{24,111}</string>
            </dict>
            <key>aki60_244.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,634},{18,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,86}}</string>
                <key>sourceSize</key>
                <string>{18,86}</string>
            </dict>
            <key>aki60_245.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,634},{11,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,45}}</string>
                <key>sourceSize</key>
                <string>{11,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>akiha_effect.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c769ee45043cd5fbe05269c80e423d4a:1/1$</string>
            <key>textureFileName</key>
            <string>akiha_effect.png</string>
        </dict>
    </dict>
</plist>
