<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef31_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>ef31_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{110,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,108}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>ef31_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{122,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,118}}</string>
                <key>sourceSize</key>
                <string>{122,118}</string>
            </dict>
            <key>ef31_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,124}}</string>
                <key>sourceSize</key>
                <string>{128,124}</string>
            </dict>
            <key>ef31_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{122,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,118}}</string>
                <key>sourceSize</key>
                <string>{122,118}</string>
            </dict>
            <key>ef31_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,2},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>ef31_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,2},{89,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,87}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>ef31_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,65},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>ef31_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,63},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>ef31_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,62},{29,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,50}}</string>
                <key>sourceSize</key>
                <string>{29,50}</string>
            </dict>
            <key>explosion_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{97,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,95}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>explosion_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,2},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>sourceSize</key>
                <string>{97,96}</string>
            </dict>
            <key>explosion_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>explosion_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>explosion_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,2},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>explosion_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,65},{67,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,47}}</string>
                <key>sourceSize</key>
                <string>{67,47}</string>
            </dict>
            <key>explosion_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,2},{79,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>explosion_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,2},{85,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,58}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
            <key>explosion_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,2},{85,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,61}}</string>
                <key>sourceSize</key>
                <string>{85,61}</string>
            </dict>
            <key>explosion_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,2},{87,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,77}}</string>
                <key>sourceSize</key>
                <string>{87,77}</string>
            </dict>
            <key>explosion_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,2},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>explosion_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>explosion_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>explosion_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_effect.png</string>
            <key>size</key>
            <string>{1997,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:806ad2d2d0a0e8464a05a0e87ce62873:e3a9ae1e31ca51c1b2401bfdc52524c5:5b814d1b2039f0909bbc16c9011bd431$</string>
            <key>textureFileName</key>
            <string>common_effect.png</string>
        </dict>
    </dict>
</plist>
