<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>koh00_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{51,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,95}}</string>
                <key>sourceSize</key>
                <string>{51,95}</string>
            </dict>
            <key>koh00_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{58,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,96}}</string>
                <key>sourceSize</key>
                <string>{58,96}</string>
            </dict>
            <key>koh00_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{67,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,97}}</string>
                <key>sourceSize</key>
                <string>{67,97}</string>
            </dict>
            <key>koh00_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{43,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,98}}</string>
                <key>sourceSize</key>
                <string>{43,98}</string>
            </dict>
            <key>koh00_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{42,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,98}}</string>
                <key>sourceSize</key>
                <string>{42,98}</string>
            </dict>
            <key>koh00_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{42,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,97}}</string>
                <key>sourceSize</key>
                <string>{42,97}</string>
            </dict>
            <key>koh00_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{46,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,96}}</string>
                <key>sourceSize</key>
                <string>{46,96}</string>
            </dict>
            <key>koh00_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{37,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,95}}</string>
                <key>sourceSize</key>
                <string>{37,95}</string>
            </dict>
            <key>koh03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{48,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,93}}</string>
                <key>sourceSize</key>
                <string>{48,93}</string>
            </dict>
            <key>koh03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{59,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,90}}</string>
                <key>sourceSize</key>
                <string>{59,90}</string>
            </dict>
            <key>koh03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,2},{115,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,83}}</string>
                <key>sourceSize</key>
                <string>{115,83}</string>
            </dict>
            <key>koh03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{118,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,82}}</string>
                <key>sourceSize</key>
                <string>{118,82}</string>
            </dict>
            <key>koh03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{119,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,78}}</string>
                <key>sourceSize</key>
                <string>{119,78}</string>
            </dict>
            <key>koh03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{121,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,77}}</string>
                <key>sourceSize</key>
                <string>{121,77}</string>
            </dict>
            <key>koh03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,102},{140,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,115}}</string>
                <key>sourceSize</key>
                <string>{140,115}</string>
            </dict>
            <key>koh03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,102},{131,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,128}}</string>
                <key>sourceSize</key>
                <string>{131,128}</string>
            </dict>
            <key>koh03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,102},{114,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,129}}</string>
                <key>sourceSize</key>
                <string>{114,129}</string>
            </dict>
            <key>koh03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,102},{108,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,115}}</string>
                <key>sourceSize</key>
                <string>{108,115}</string>
            </dict>
            <key>koh03_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,102},{106,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,114}}</string>
                <key>sourceSize</key>
                <string>{106,114}</string>
            </dict>
            <key>koh03_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,102},{96,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,143}}</string>
                <key>sourceSize</key>
                <string>{96,143}</string>
            </dict>
            <key>koh03_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,102},{106,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,132}}</string>
                <key>sourceSize</key>
                <string>{106,132}</string>
            </dict>
            <key>koh03_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{94,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,87}}</string>
                <key>sourceSize</key>
                <string>{94,87}</string>
            </dict>
            <key>koh03_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,247},{88,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,79}}</string>
                <key>sourceSize</key>
                <string>{88,79}</string>
            </dict>
            <key>koh03_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,247},{89,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,78}}</string>
                <key>sourceSize</key>
                <string>{89,78}</string>
            </dict>
            <key>koh03_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,247},{87,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,76}}</string>
                <key>sourceSize</key>
                <string>{87,76}</string>
            </dict>
            <key>koh03_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,247},{83,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>koh03_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,247},{74,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,90}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>koh03_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,247},{58,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,92}}</string>
                <key>sourceSize</key>
                <string>{58,92}</string>
            </dict>
            <key>koh24_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,247},{61,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,96}}</string>
                <key>sourceSize</key>
                <string>{61,96}</string>
            </dict>
            <key>koh24_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,247},{79,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,96}}</string>
                <key>sourceSize</key>
                <string>{79,96}</string>
            </dict>
            <key>koh24_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,247},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>koh24_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,247},{94,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,60}}</string>
                <key>sourceSize</key>
                <string>{94,60}</string>
            </dict>
            <key>koh24_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,247},{94,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,60}}</string>
                <key>sourceSize</key>
                <string>{94,60}</string>
            </dict>
            <key>koh24_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{102,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
            <key>koh24_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,345},{103,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,33}}</string>
                <key>sourceSize</key>
                <string>{103,33}</string>
            </dict>
            <key>koh24_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,345},{105,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,39}}</string>
                <key>sourceSize</key>
                <string>{105,39}</string>
            </dict>
            <key>koh26_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,345},{41,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,95}}</string>
                <key>sourceSize</key>
                <string>{41,95}</string>
            </dict>
            <key>koh26_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,345},{42,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,93}}</string>
                <key>sourceSize</key>
                <string>{42,93}</string>
            </dict>
            <key>koh26_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,345},{71,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,87}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>koh26_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,345},{88,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,81}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>koh26_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,345},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>koh26_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,345},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>koh26_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,345},{87,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,84}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>koh26_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,345},{91,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,80}}</string>
                <key>sourceSize</key>
                <string>{91,80}</string>
            </dict>
            <key>koh26_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,345},{91,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,79}}</string>
                <key>sourceSize</key>
                <string>{91,79}</string>
            </dict>
            <key>koh26_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>koh26_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,442},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>koh26_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,442},{86,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>koh26_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,442},{87,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,84}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>koh26_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,442},{91,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,81}}</string>
                <key>sourceSize</key>
                <string>{91,81}</string>
            </dict>
            <key>koh26_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,442},{91,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,80}}</string>
                <key>sourceSize</key>
                <string>{91,80}</string>
            </dict>
            <key>koh26_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,442},{73,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,86}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>koh26_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,442},{43,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,93}}</string>
                <key>sourceSize</key>
                <string>{43,93}</string>
            </dict>
            <key>koh26_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,442},{38,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,95}}</string>
                <key>sourceSize</key>
                <string>{38,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kohaku.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:649553706312e4b1af4b51a541b12226$</string>
            <key>textureFileName</key>
            <string>kohaku.png</string>
        </dict>
    </dict>
</plist>
