<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ren0253.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{137,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,26}}</string>
                <key>sourceSize</key>
                <string>{137,26}</string>
            </dict>
            <key>ren0367.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>ren0368.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,44},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>ren0369.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,44},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>ren0370.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{107,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,72}}</string>
                <key>sourceSize</key>
                <string>{107,72}</string>
            </dict>
            <key>ren0371.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,123},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>ren0855.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{95,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,45}}</string>
                <key>sourceSize</key>
                <string>{95,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>len_effect.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fef8c104008e66d7e62298f5216aa299:1/1$</string>
            <key>textureFileName</key>
            <string>len_effect.png</string>
        </dict>
    </dict>
</plist>
