<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7sh00_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,422},{52,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,109}}</string>
                <key>sourceSize</key>
                <string>{52,109}</string>
            </dict>
            <key>7sh00_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,422},{52,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,109}}</string>
                <key>sourceSize</key>
                <string>{52,109}</string>
            </dict>
            <key>7sh00_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,422},{52,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,109}}</string>
                <key>sourceSize</key>
                <string>{52,109}</string>
            </dict>
            <key>7sh00_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,422},{52,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,109}}</string>
                <key>sourceSize</key>
                <string>{52,109}</string>
            </dict>
            <key>7sh00_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,422},{52,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,110}}</string>
                <key>sourceSize</key>
                <string>{52,110}</string>
            </dict>
            <key>7sh00_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,422},{52,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,110}}</string>
                <key>sourceSize</key>
                <string>{52,110}</string>
            </dict>
            <key>7sh00_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,422},{51,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,111}}</string>
                <key>sourceSize</key>
                <string>{51,111}</string>
            </dict>
            <key>7sh00_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,535},{51,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,111}}</string>
                <key>sourceSize</key>
                <string>{51,111}</string>
            </dict>
            <key>7sh00_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{52,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,111}}</string>
                <key>sourceSize</key>
                <string>{52,111}</string>
            </dict>
            <key>7sh00_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,535},{51,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,111}}</string>
                <key>sourceSize</key>
                <string>{51,111}</string>
            </dict>
            <key>7sh00_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,535},{51,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,111}}</string>
                <key>sourceSize</key>
                <string>{51,111}</string>
            </dict>
            <key>7sh00_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,535},{51,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,111}}</string>
                <key>sourceSize</key>
                <string>{51,111}</string>
            </dict>
            <key>7sh00_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,535},{51,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,111}}</string>
                <key>sourceSize</key>
                <string>{51,111}</string>
            </dict>
            <key>7sh00_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,535},{51,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,111}}</string>
                <key>sourceSize</key>
                <string>{51,111}</string>
            </dict>
            <key>7sh00_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,535},{51,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,111}}</string>
                <key>sourceSize</key>
                <string>{51,111}</string>
            </dict>
            <key>7sh00_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,422},{51,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,111}}</string>
                <key>sourceSize</key>
                <string>{51,111}</string>
            </dict>
            <key>shi02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,313},{52,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,107}}</string>
                <key>sourceSize</key>
                <string>{52,107}</string>
            </dict>
            <key>shi02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,132},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>shi02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,132},{88,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,70}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
            <key>shi02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{88,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,69}}</string>
                <key>sourceSize</key>
                <string>{88,69}</string>
            </dict>
            <key>shi02_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,132},{93,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,80}}</string>
                <key>sourceSize</key>
                <string>{93,80}</string>
            </dict>
            <key>shi02_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,535},{98,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,118}}</string>
                <key>sourceSize</key>
                <string>{98,118}</string>
            </dict>
            <key>shi02_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,535},{93,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,120}}</string>
                <key>sourceSize</key>
                <string>{93,120}</string>
            </dict>
            <key>shi02_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,535},{94,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,122}}</string>
                <key>sourceSize</key>
                <string>{94,122}</string>
            </dict>
            <key>shi02_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,313},{85,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,106}}</string>
                <key>sourceSize</key>
                <string>{85,106}</string>
            </dict>
            <key>shi02_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{76,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,96}}</string>
                <key>sourceSize</key>
                <string>{76,96}</string>
            </dict>
            <key>shi02_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,313},{64,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,103}}</string>
                <key>sourceSize</key>
                <string>{64,103}</string>
            </dict>
            <key>shi02_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,422},{54,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,108}}</string>
                <key>sourceSize</key>
                <string>{54,108}</string>
            </dict>
            <key>shi03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,215},{72,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,96}}</string>
                <key>sourceSize</key>
                <string>{72,96}</string>
            </dict>
            <key>shi03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,132},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>shi03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,215},{86,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,82}}</string>
                <key>sourceSize</key>
                <string>{86,82}</string>
            </dict>
            <key>shi03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,215},{85,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,83}}</string>
                <key>sourceSize</key>
                <string>{85,83}</string>
            </dict>
            <key>shi03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,65},{106,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,65}}</string>
                <key>sourceSize</key>
                <string>{106,65}</string>
            </dict>
            <key>shi03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{135,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,62}}</string>
                <key>sourceSize</key>
                <string>{135,62}</string>
            </dict>
            <key>shi03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,65},{146,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,63}}</string>
                <key>sourceSize</key>
                <string>{146,63}</string>
            </dict>
            <key>shi03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,65},{146,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,63}}</string>
                <key>sourceSize</key>
                <string>{146,63}</string>
            </dict>
            <key>shi03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{146,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,61}}</string>
                <key>sourceSize</key>
                <string>{146,61}</string>
            </dict>
            <key>shi03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,132},{119,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,74}}</string>
                <key>sourceSize</key>
                <string>{119,74}</string>
            </dict>
            <key>shi03_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{77,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,82}}</string>
                <key>sourceSize</key>
                <string>{77,82}</string>
            </dict>
            <key>shi03_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,215},{71,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,87}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>shi03_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,215},{67,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,89}}</string>
                <key>sourceSize</key>
                <string>{67,89}</string>
            </dict>
            <key>shi03_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,132},{77,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>shi03_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,132},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>shi03_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,215},{73,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,83}}</string>
                <key>sourceSize</key>
                <string>{73,83}</string>
            </dict>
            <key>shi03_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,215},{68,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,92}}</string>
                <key>sourceSize</key>
                <string>{68,92}</string>
            </dict>
            <key>shi03_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,313},{54,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,102}}</string>
                <key>sourceSize</key>
                <string>{54,102}</string>
            </dict>
            <key>shi03_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,422},{51,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,108}}</string>
                <key>sourceSize</key>
                <string>{51,108}</string>
            </dict>
            <key>shi24_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,313},{74,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,101}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>shi24_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,215},{93,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,88}}</string>
                <key>sourceSize</key>
                <string>{93,88}</string>
            </dict>
            <key>shi24_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{101,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,55}}</string>
                <key>sourceSize</key>
                <string>{101,55}</string>
            </dict>
            <key>shi24_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,65},{97,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,64}}</string>
                <key>sourceSize</key>
                <string>{97,64}</string>
            </dict>
            <key>shi24_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,65},{97,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,64}}</string>
                <key>sourceSize</key>
                <string>{97,64}</string>
            </dict>
            <key>shi24_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{98,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,56}}</string>
                <key>sourceSize</key>
                <string>{98,56}</string>
            </dict>
            <key>shi24_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>shi24_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{107,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,33}}</string>
                <key>sourceSize</key>
                <string>{107,33}</string>
            </dict>
            <key>shi24_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,29}}</string>
                <key>sourceSize</key>
                <string>{112,29}</string>
            </dict>
            <key>shi26_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{37,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,107}}</string>
                <key>sourceSize</key>
                <string>{37,107}</string>
            </dict>
            <key>shi26_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,313},{27,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,107}}</string>
                <key>sourceSize</key>
                <string>{27,107}</string>
            </dict>
            <key>shi26_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,422},{41,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,108}}</string>
                <key>sourceSize</key>
                <string>{41,108}</string>
            </dict>
            <key>shi26_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,313},{43,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,106}}</string>
                <key>sourceSize</key>
                <string>{43,106}</string>
            </dict>
            <key>shi26_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,313},{43,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,106}}</string>
                <key>sourceSize</key>
                <string>{43,106}</string>
            </dict>
            <key>shi26_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,313},{28,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,105}}</string>
                <key>sourceSize</key>
                <string>{28,105}</string>
            </dict>
            <key>shi26_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,313},{30,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,106}}</string>
                <key>sourceSize</key>
                <string>{30,106}</string>
            </dict>
            <key>shi26_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,422},{44,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,107}}</string>
                <key>sourceSize</key>
                <string>{44,107}</string>
            </dict>
            <key>shi26_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,313},{46,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,105}}</string>
                <key>sourceSize</key>
                <string>{46,105}</string>
            </dict>
            <key>shi26_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,313},{46,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,105}}</string>
                <key>sourceSize</key>
                <string>{46,105}</string>
            </dict>
            <key>shi26_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,313},{29,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,105}}</string>
                <key>sourceSize</key>
                <string>{29,105}</string>
            </dict>
            <key>shi26_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,422},{28,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,108}}</string>
                <key>sourceSize</key>
                <string>{28,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shiki.png</string>
            <key>size</key>
            <string>{741,741}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ef521c2e506e14e027a900c20360e18:75127e4ca6f51cc3975db4c098c6edf6:31dd945e5297db669000819cc8be7820$</string>
            <key>textureFileName</key>
            <string>shiki.png</string>
        </dict>
    </dict>
</plist>
