<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7sh7500.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{154,80}}</string>
                <key>offset</key>
                <string>{17,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,142},{154,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>7sh7501.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{80,106}}</string>
                <key>offset</key>
                <string>{54,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,106},{80,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>7sh7502.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{78,104}}</string>
                <key>offset</key>
                <string>{53,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,99},{78,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>7sh7503.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,66}}</string>
                <key>offset</key>
                <string>{48,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,97},{84,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>7sh7504.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{82,42}}</string>
                <key>offset</key>
                <string>{39,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,96},{82,42}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>7sh7505.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,16},{74,22}}</string>
                <key>offset</key>
                <string>{33,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,95},{74,22}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>7sh7506.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{26,12}}</string>
                <key>offset</key>
                <string>{44,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,97},{26,12}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shiki_effect.png</string>
            <key>size</key>
            <string>{512,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9705ec07c072ce9d96ac2406232f87f:22c0104c718a794f32aed1813c5cec2e:42808ed926246a6678fc2a5344b1a38f$</string>
            <key>textureFileName</key>
            <string>shiki_effect.png</string>
        </dict>
    </dict>
</plist>
