<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>sio0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{45,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,104}}</string>
                <key>sourceSize</key>
                <string>{45,104}</string>
            </dict>
            <key>sio0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{45,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,104}}</string>
                <key>sourceSize</key>
                <string>{45,104}</string>
            </dict>
            <key>sio0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{47,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,104}}</string>
                <key>sourceSize</key>
                <string>{47,104}</string>
            </dict>
            <key>sio0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{47,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,104}}</string>
                <key>sourceSize</key>
                <string>{47,104}</string>
            </dict>
            <key>sio0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{45,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,104}}</string>
                <key>sourceSize</key>
                <string>{45,104}</string>
            </dict>
            <key>sio0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{45,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,104}}</string>
                <key>sourceSize</key>
                <string>{45,104}</string>
            </dict>
            <key>sio0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{45,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,104}}</string>
                <key>sourceSize</key>
                <string>{45,104}</string>
            </dict>
            <key>sio0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{45,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,105}}</string>
                <key>sourceSize</key>
                <string>{45,105}</string>
            </dict>
            <key>sio0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{45,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,105}}</string>
                <key>sourceSize</key>
                <string>{45,105}</string>
            </dict>
            <key>sio0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{45,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,105}}</string>
                <key>sourceSize</key>
                <string>{45,105}</string>
            </dict>
            <key>sio0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,109},{45,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,105}}</string>
                <key>sourceSize</key>
                <string>{45,105}</string>
            </dict>
            <key>sio0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,109},{46,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,105}}</string>
                <key>sourceSize</key>
                <string>{46,105}</string>
            </dict>
            <key>sio0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,109},{47,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,105}}</string>
                <key>sourceSize</key>
                <string>{47,105}</string>
            </dict>
            <key>sio0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,109},{45,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,105}}</string>
                <key>sourceSize</key>
                <string>{45,105}</string>
            </dict>
            <key>sio0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,109},{45,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,105}}</string>
                <key>sourceSize</key>
                <string>{45,105}</string>
            </dict>
            <key>sio0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,109},{45,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,105}}</string>
                <key>sourceSize</key>
                <string>{45,105}</string>
            </dict>
            <key>sio0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,109},{45,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,105}}</string>
                <key>sourceSize</key>
                <string>{45,105}</string>
            </dict>
            <key>sio0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,109},{45,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,104}}</string>
                <key>sourceSize</key>
                <string>{45,104}</string>
            </dict>
            <key>sio0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,109},{45,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,104}}</string>
                <key>sourceSize</key>
                <string>{45,104}</string>
            </dict>
            <key>sio0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{45,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,104}}</string>
                <key>sourceSize</key>
                <string>{45,104}</string>
            </dict>
            <key>sio2410.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,216},{79,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,97}}</string>
                <key>sourceSize</key>
                <string>{79,97}</string>
            </dict>
            <key>sio2411.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,216},{98,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,82}}</string>
                <key>sourceSize</key>
                <string>{98,82}</string>
            </dict>
            <key>sio2412.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,216},{104,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,58}}</string>
                <key>sourceSize</key>
                <string>{104,58}</string>
            </dict>
            <key>sio2413.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,216},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>sio2414.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{95,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,56}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>sio2415.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,322},{95,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,56}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>sio2416.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,322},{96,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,41}}</string>
                <key>sourceSize</key>
                <string>{96,41}</string>
            </dict>
            <key>sio2417.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,322},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>sio2418.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,322},{103,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,26}}</string>
                <key>sourceSize</key>
                <string>{103,26}</string>
            </dict>
            <key>sio2419.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{109,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,24}}</string>
                <key>sourceSize</key>
                <string>{109,24}</string>
            </dict>
            <key>sio2600.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,380},{44,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,101}}</string>
                <key>sourceSize</key>
                <string>{44,101}</string>
            </dict>
            <key>sio2601.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,380},{39,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,102}}</string>
                <key>sourceSize</key>
                <string>{39,102}</string>
            </dict>
            <key>sio2602.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,380},{40,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,104}}</string>
                <key>sourceSize</key>
                <string>{40,104}</string>
            </dict>
            <key>sio2603.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,380},{49,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,104}}</string>
                <key>sourceSize</key>
                <string>{49,104}</string>
            </dict>
            <key>sio2604.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,380},{59,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,104}}</string>
                <key>sourceSize</key>
                <string>{59,104}</string>
            </dict>
            <key>sio2605.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,380},{58,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,103}}</string>
                <key>sourceSize</key>
                <string>{58,103}</string>
            </dict>
            <key>sio2606.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,380},{53,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,103}}</string>
                <key>sourceSize</key>
                <string>{53,103}</string>
            </dict>
            <key>sio2607.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{59,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,101}}</string>
                <key>sourceSize</key>
                <string>{59,101}</string>
            </dict>
            <key>sio2608.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,486},{62,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,98}}</string>
                <key>sourceSize</key>
                <string>{62,98}</string>
            </dict>
            <key>sio2609.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,486},{61,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,97}}</string>
                <key>sourceSize</key>
                <string>{61,97}</string>
            </dict>
            <key>sio2610.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,486},{54,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,99}}</string>
                <key>sourceSize</key>
                <string>{54,99}</string>
            </dict>
            <key>sio4200.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,486},{54,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,102}}</string>
                <key>sourceSize</key>
                <string>{54,102}</string>
            </dict>
            <key>sio4201.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,486},{73,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,104}}</string>
                <key>sourceSize</key>
                <string>{73,104}</string>
            </dict>
            <key>sio4202.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,486},{91,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,105}}</string>
                <key>sourceSize</key>
                <string>{91,105}</string>
            </dict>
            <key>sio4203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{75,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,116}}</string>
                <key>sourceSize</key>
                <string>{75,116}</string>
            </dict>
            <key>sio4204.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,593},{82,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,110}}</string>
                <key>sourceSize</key>
                <string>{82,110}</string>
            </dict>
            <key>sio4205.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,593},{86,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,105}}</string>
                <key>sourceSize</key>
                <string>{86,105}</string>
            </dict>
            <key>sio4206.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,593},{74,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,102}}</string>
                <key>sourceSize</key>
                <string>{74,102}</string>
            </dict>
            <key>sio4207.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,593},{50,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,102}}</string>
                <key>sourceSize</key>
                <string>{50,102}</string>
            </dict>
            <key>sio4208.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,593},{45,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,104}}</string>
                <key>sourceSize</key>
                <string>{45,104}</string>
            </dict>
            <key>sio4210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,711},{89,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,105}}</string>
                <key>sourceSize</key>
                <string>{89,105}</string>
            </dict>
            <key>sio4211.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,711},{81,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,110}}</string>
                <key>sourceSize</key>
                <string>{81,110}</string>
            </dict>
            <key>sio4212.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,711},{84,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,105}}</string>
                <key>sourceSize</key>
                <string>{84,105}</string>
            </dict>
            <key>sio4213.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,711},{91,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,105}}</string>
                <key>sourceSize</key>
                <string>{91,105}</string>
            </dict>
            <key>sio4214.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,711},{90,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,105}}</string>
                <key>sourceSize</key>
                <string>{90,105}</string>
            </dict>
            <key>sio4215.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,823},{85,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,105}}</string>
                <key>sourceSize</key>
                <string>{85,105}</string>
            </dict>
            <key>sio4216.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,823},{57,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,103}}</string>
                <key>sourceSize</key>
                <string>{57,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sion.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e09a5252e4ea6b65fb54b61e533a8022$</string>
            <key>textureFileName</key>
            <string>sion.png</string>
        </dict>
    </dict>
</plist>
