<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>war0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{89,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,124}}</string>
                <key>sourceSize</key>
                <string>{89,124}</string>
            </dict>
            <key>war0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,237},{86,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,125}}</string>
                <key>sourceSize</key>
                <string>{86,125}</string>
            </dict>
            <key>war0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{85,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,125}}</string>
                <key>sourceSize</key>
                <string>{85,125}</string>
            </dict>
            <key>war0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,242},{74,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,124}}</string>
                <key>sourceSize</key>
                <string>{74,124}</string>
            </dict>
            <key>war0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,363},{72,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,125}}</string>
                <key>sourceSize</key>
                <string>{72,125}</string>
            </dict>
            <key>war0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,123},{73,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,125}}</string>
                <key>sourceSize</key>
                <string>{73,125}</string>
            </dict>
            <key>war0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,250},{74,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,125}}</string>
                <key>sourceSize</key>
                <string>{74,125}</string>
            </dict>
            <key>war0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,377},{76,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,125}}</string>
                <key>sourceSize</key>
                <string>{76,125}</string>
            </dict>
            <key>war0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,242},{81,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,125}}</string>
                <key>sourceSize</key>
                <string>{81,125}</string>
            </dict>
            <key>war0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{88,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,124}</string>
            </dict>
            <key>war2420.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,487},{88,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>war2421.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,305},{103,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,56}}</string>
                <key>sourceSize</key>
                <string>{103,56}</string>
            </dict>
            <key>war2422.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,576},{107,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,70}}</string>
                <key>sourceSize</key>
                <string>{107,70}</string>
            </dict>
            <key>war2423.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,369},{107,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,71}}</string>
                <key>sourceSize</key>
                <string>{107,71}</string>
            </dict>
            <key>war2424.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,368},{99,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,63}}</string>
                <key>sourceSize</key>
                <string>{99,63}</string>
            </dict>
            <key>war2425.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,246},{105,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,57}}</string>
                <key>sourceSize</key>
                <string>{105,57}</string>
            </dict>
            <key>war2426.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,558},{116,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,46}}</string>
                <key>sourceSize</key>
                <string>{116,46}</string>
            </dict>
            <key>war2427.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,608},{119,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,29}}</string>
                <key>sourceSize</key>
                <string>{119,29}</string>
            </dict>
            <key>war2428.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,608},{120,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,27}}</string>
                <key>sourceSize</key>
                <string>{120,27}</string>
            </dict>
            <key>war2600.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,237},{80,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,123}}</string>
                <key>sourceSize</key>
                <string>{80,123}</string>
            </dict>
            <key>war2601.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,362},{80,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,123}}</string>
                <key>sourceSize</key>
                <string>{80,123}</string>
            </dict>
            <key>war2602.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{79,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,123}}</string>
                <key>sourceSize</key>
                <string>{79,123}</string>
            </dict>
            <key>war2603.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,483},{78,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,123}}</string>
                <key>sourceSize</key>
                <string>{78,123}</string>
            </dict>
            <key>war2604.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,433},{77,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,123}}</string>
                <key>sourceSize</key>
                <string>{77,123}</string>
            </dict>
            <key>war2605.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,504},{78,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,123}}</string>
                <key>sourceSize</key>
                <string>{78,123}</string>
            </dict>
            <key>war4000.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,442},{79,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,121}}</string>
                <key>sourceSize</key>
                <string>{79,121}</string>
            </dict>
            <key>war4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,487},{72,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,119}}</string>
                <key>sourceSize</key>
                <string>{72,119}</string>
            </dict>
            <key>war4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,364},{85,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,117}}</string>
                <key>sourceSize</key>
                <string>{85,117}</string>
            </dict>
            <key>war4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{125,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,116}}</string>
                <key>sourceSize</key>
                <string>{125,116}</string>
            </dict>
            <key>war4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,120},{166,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,115}}</string>
                <key>sourceSize</key>
                <string>{166,115}</string>
            </dict>
            <key>war4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{168,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,115}}</string>
                <key>sourceSize</key>
                <string>{168,115}</string>
            </dict>
            <key>war4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{168,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,116}}</string>
                <key>sourceSize</key>
                <string>{168,116}</string>
            </dict>
            <key>war4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,119}}</string>
                <key>sourceSize</key>
                <string>{164,119}</string>
            </dict>
            <key>war4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,119},{158,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,121}}</string>
                <key>sourceSize</key>
                <string>{158,121}</string>
            </dict>
            <key>war4009.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,120},{146,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,124}}</string>
                <key>sourceSize</key>
                <string>{146,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>warakia.png</string>
            <key>size</key>
            <string>{648,648}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:138be2f4696017d27e50ce41a672433c:91b4fa6b3aa82ce84890bc5a1a3825a4:6e111a1436de9ebe5e89315e4ce9862e$</string>
            <key>textureFileName</key>
            <string>warakia.png</string>
        </dict>
    </dict>
</plist>
